body{
    margin: 0px;
}
.headder{
    width: 100%;
    height: 50px;
    background-color: rgba(211, 211, 211, 0.842);
}
.fa-solid{
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 1300px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0.842);
}
li{
    float: left;
} 
li a {
    display: block;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
.menu{
    position: absolute;
    top: 1px;
    left: 200px;
}
li a:hover {
    background-color: rgba(17, 17, 17, 0.24);
}
.section1{
    width: 100%;
    height: 700px;
    background-image: url(11.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.section11{
    width: 140px;
    height: 700px;
    position: absolute;
    left: 1190px;

}
.section12{
    width: 670px;
    height: 500px;
    position: absolute;
    left: 629px;
    z-index: 3;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 30px;
}
.section12 h2{
    font-size: 30px;
    color:black ;
    word-spacing: 2px;
    letter-spacing: 9px;
    font-weight: 400;
    font-family: 'Roboto Condensed',sans-serif;
}
.section12 h1{
    font-size: 110px;
    color: black ;
    font-weight: 700;
    line-height: 0.8;
    font-family: 'Roboto Condensed',sans-serif;
}
.button{
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
}
.section2{
    width: 100%;
    height: 900px;
    background-color: #ffffff);
    z-index: 1;
    position: relative;
}
.section21{
    background-image: url(12.jpg);
    width: 960px;
    height: 630px;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 193px;
    background-position: center;
    background-size: cover;
}
.logo21{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 380px;
    left: 750px;
    z-index: 4;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.logo22{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 380px;
    left: 1000px;
    z-index: 4;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.logo23{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 625px;
    left: 750px;
    z-index: 4;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.logo24{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 625px;
    left: 1000px;
    z-index: 4;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.section3{
    width: 100%;
    height: 828px;
    background-color: #ffffff;
    position: relative;
}
.section31{
    background-image: url(13.jpeg);
    padding: 30px;
    width: 500px;
    height: 660px;
    position: absolute;
    top: 30px;
    left: 200px;
    z-index: 2;
}
.section32{
    display: inline-block;
    width: 478px;
    height: 420px;
    background-color: #f2f2f2;
    position: absolute;
    top: 270px;
    left: 900px;
    text-align: center;
    padding: 30px;
    z-index: 3;
}
.section32 h3{
    font-size: 35px;
    color: black;
}
.section32 p{
    font-size: 18px;
    line-height: 30px;
    color:black;
}
.section33{
    width: 600px;
    height: 100px;
    background-color: #f2b82d;
    position: absolute;
    top: 165px;
    left: 500px;
    z-index: 3;
}
.button3{
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    position: absolute;
    top: 380px;
    left: 188px;
}
.section4{
    width: 100%;
    height: 1281px;
    background-color: #f2b82d;
    position: relative;
    z-index: 1;
}
.section41{
    background-image: url(14.jpg);
    background-size: cover;
    padding: 30px;
    width: 960px;
    height: 624px;
    position: absolute;
    top: 150px;
    left: 230px;  
    z-index: 2;
}
.flex-container {
    display: flex;
    position: absolute;
    top: 700px;
    left: 400px;
    z-index: 3;
  }
.flex-container div{
    height: 350px;
    width: 250px;
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.button42{
    text-align: center;
    font-size: 17px;
}
.button43{
    text-align: center;
    font-size: 17px;
}
.button44{
    text-align: center;
    font-size: 17px;
}

.section5{
    width: 100%;
    height: 1040px;
    background-color: #ffffff;
    position: relative;
}
.section5 h1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
    position: absolute;
    top: 30px;
    left: 600px;
}
.horizontal{
    width: 200px;
    height: 6px;
    position: absolute;
    top: 145px;
    left: 670px;
    background-color: black;
}
.section51{
    object-fit: cover;
}
.section52{
    object-fit: cover;
}
.section53{
    object-fit: cover;
}
.section54{
    object-fit: cover;
}
.section55{
    object-fit: cover;
}
.section56{
    object-fit: cover;
}
.section57{
    object-fit: cover;
}
.section58{
    object-fit: cover;
}
.grid-container {
    display: grid;
    column-gap: 3px;
    grid-template-columns: auto auto auto auto;
    margin: 0px;
    position: absolute;
    top: 190px;
  }
.section6{
    width: 100%;
    height: 628px;
    background-color: ;
    position: relative;
}
.section62{
padding: 15px;
width: 550px;
height: 450px;
position: absolute;
top: 50px;
left: 250px

}
.section63{
    width: 517px;
    height: 518px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 900px;
    padding: 30px;
}
.section63 p{
    text-align: left;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1;
    font-family: 'Open Sans',sans-serif;
}
.section63 h1{
    font-size: 58px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    line-height: 1.1;
}
.button6{
    background-color: black;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    position: absolute;
    left: 160px;
    top: 440px;      
}
.section7{
    width: 100%;
    height: 1100px;
    background-color: #f2b82d;
    position: relative;
}
.section71{
    width: 800px;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 350px;
}
.section71 h1{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Open Sans',sans-serif;
}
.section71 p{
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
    font-style: italic;
}
.section711{
    display: flex;
    width: 250px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 350px;
    left: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section712{
    display: flex;
    width: 250px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 350px;
    left: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section713{
    display: flex;
    width: 250px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 350px;
    left: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section714{
    display: flex;
    width: 250px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 350px;
    left: 1100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section715{
    display: flex;
    width: 250px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 700px;
    left: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section716{
    display: flex;
    width: 250px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 700px;
    left: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section717{
    display: flex;
    width: 250px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 700px;
    left: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section718{
    display: flex;
    width: 250px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 700px;
    left: 1100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section8{
    width: 100%;
    height: 601px;
    background-color: black;
    position: relative;
}
.section81 h1{
    position: absolute;
    top: 50px;
    left: 200px;
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 60px;

}
.section82 p{
    font-size: 18px;
    width: 500px;
    height: 580px;
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    line-height: 2.2;
    top: 160px;
    left: 200px;
    color: white;
}
.button8{
    background-color: black;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
    position: absolute;
    top: 440px;
    left: 330px;
}
.section83{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 100px;
    left: 800px;
}
.section831{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 100px;
    left: 1000px;
}
.section832{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 100px;
    left: 1200px;
}
.section833{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 240px;
    left: 800px;
}
.section834{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 240px;
    left: 1000px;
}
.section835{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 240px;
    left: 1200px;
}
.section836{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 340px;
    left: 800px;
}
.section837{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 340px;
    left: 1000px;
}
.section838{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 340px;
    left: 1200px;
}
.section839{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 440px;
    left: 800px;
}
.section801{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 440px;
    left: 1000px;
}
.section802{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 440px;
    left: 1200px;
}
.section9{
    width: 100%;
    height: 690px;
    position: relative;
}
.section91{
    float: left;
    position: absolute;
    left: 760px;
    top: 0px;
}
.section92 h1{
    font-size: 55px;
    position: absolute;
    top: 30px;
    left: 297px;
}
.section93{
    position: absolute;
    top: 200px;
    left: 230px;
}
.name{
    width: 404px;
    height: 40px;
}
.email{
    width: 404px;
    height: 40px;
}
.mobile{
    width: 404px;
    height: 40px;
}
.button9{
    background-color: black;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 25px;
    font-weight: 700;
    padding-left: 161px;
    padding-right: 161px;
    font-size: 23px;
    position: absolute;
    top: 340px;
    left: 0px;
}
.section10{
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
}
.section101{
    color: white;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 590px;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 35px;
}